# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# custom files
.vscode/
.DS_Store
wandb*
multiagent/orig_scenarios/
trained_models/
models/
logs/
out_*
offpolicy/scripts/results/
gpg_baseline/results/ 
attention_baseline/results
results

onpolicy/results
onpolicy/scripts/results/
onpolicy/envs/hanabi/
onpolicy/envs/starcraft2/
onpolicy/runner/shared/hanabi_runner_forward.py
onpolicy/runner/shared/smac_runner.py
onpolicy/scripts/eval/eval_hanabi.py
onpolicy/scripts/eval_hanabi_forward.sh
onpolicy/scripts/train/train_hanabi_forward.py
onpolicy/scripts/train/train_smac.py
onpolicy/scripts/train_hanabi_forward.sh
onpolicy/scripts/train_smac.sh

test.ipynb
papers/*
test.py
plots/*
results_*/*
CLAUDE.md
commands.txt
eval_models/*

# test files
test_*